body{
	display: block;
	margin: 10%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

/*navigation*/
.button{
	background-color: #ffffff;
	border: none;
	margin: 20px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}
a:link{
	color: #49A9C7;
}
a:visited{
	 color: #1D6A8D;
}
a:hover{
	color: #EB9825;
}

/*content*/
h1{
	font-size: 70px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 5px;
}
h2{
	color: #EB9825;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}
h3{

}
p{
	margin-right: 250px;
	margin-left: 250px;
}
img{

}